.header-bg {
  background: var(--color-12);
}

.header {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
}

.header-nav a {
  padding: 1rem 0;
  position: relative;
  display: inline-block;
  color: var(--color-0);
  transition: 0.3s;
}

.header-nav a:after {
  content: "";
  margin-top: 0.25rem;
  position: absolute;
  display: block;
  height: 2px;
  width: 0;
  background: var(--color-0);
  transition: 0.3s;
}

.header-nav a:hover:after {
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-corner {
  overflow: hidden;
}

::-webkit-scrollbar-track {
  background-color: var(--color-12);
}

::-webkit-scrollbar-thumb {
  background: var(--color-p1);
  border-radius: 20px;
  border: 2px solid var(--color-12);
}

@media (max-width: 800px) {
  .header-nav {
    gap: 1.25rem;
  }

  .header-nav a {
    background: var(--color-11);
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
  }

  .header-nav a:hover {
    background: var(--color-10);
  }

  .header-nav a:after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .header-nav {
    gap: 0.75rem;
  }

  .header-nav a {
    padding: 0.5rem 0.75rem;
  }
}
