:root {
  --color-0: #fff;
  --color-1: #f7f7f7;
  --color-2: #ededed;
  --color-3: #dedede;
  --color-4: #ccc;
  --color-5: #b2b2b2;
  --color-6: #9c9c9c;
  --color-7: #717171;
  --color-8: #595959;
  --color-9: #404040;
  --color-10: #2e2e2e;
  --color-11: #111;
  --color-12: #000;
  --color-p1: #ffbb00;
  --color-p2: #e4a30b;
  --color-p3: #a66f00;
  --color-p4: #664400;
  --color-p5: #332200;
}

.c-0 {
  color: var(--color-0);
}

.c-1 {
  color: var(--color-1);
}

.c-2 {
  color: var(--color-2);
}

.c-3 {
  color: var(--color-3);
}

.c-4 {
  color: var(--color-4);
}

.c-5 {
  color: var(--color-5);
}

.c-6 {
  color: var(--color-6);
}

.c-7 {
  color: var(--color-7);
}

.c-8 {
  color: var(--color-8);
}

.c-9 {
  color: var(--color-9);
}

.c-10 {
  color: var(--color-10);
}

.c-11 {
  color: var(--color-11);
}

.c-12 {
  color: var(--color-12);
}

.c-p1 {
  color: var(--color-p1);
}

.c-p2 {
  color: var(--color-p2);
}

.c-p3 {
  color: var(--color-p3);
}

.c-p4 {
  color: var(--color-p4);
}

.c-p5 {
  color: var(--color-p5);
}
